/** Layout Styles **/
h1{font-size: 28px;}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
p {
    font-size: 18px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 18px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 12px;
    padding-right: 12px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    text-decoration: #fff;
    text-shadow: #f8f8f8;
    color: #e0e1e2;
    background-color: #727472;
    padding: 1rem 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

section, article {
    padding: 8px 0;
}

/** Component Styles **/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #dcdcdc !important;
}

.jumbotron {
    padding: 36px 48px;
    text-align: center;
}

.jumbotron h1 {
    font-size: 36px;
}

.jumbotron h2{
    font-size: 26px;
}

.jumbotron h3{
    font-size: 24px;
}

.jumbotron h4 {
    font-size: 20px;
}

.jumbotron p {
    font-size: 18px;
}

#reports a{
    text-decoration: none !important;
}
.panel-narrow-heading a {
    text-decoration: none !important;
}
.panel-narrow-heading.panel {
    margin: 1.25rem 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .25), 0 4px 15px 0 rgba(10, 10, 10, .15);
    border-radius: .1rem;
}

.panel-narrow-heading .panel-heading {
    margin: 1.25rem 4% 1.25rem 4%;
    background: linear-gradient(40deg, #007f9f, #036);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .25), 0 4px 15px 0 rgba(10, 10, 10, .10);
    border-radius: .1rem;
    text-decoration: none;
}

.panel-heading, a.panel-heading{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    color: #d1d1d1;
}

.panel-body, a.panel-body {
    text-align: center;
    text-decoration: none;
    color: #3a4a52;
}

.panel-body a{
    color: #3a4a52;
    text-decoration: none;
}

.panel-bland {
    background-color: #f5f5f5;
    border-color: #d1d1d1;
    text-decoration: #fff;
    text-shadow: #f8f8f8;
    color: #3a4a52;
}

.panel-bland > .panel-heading {
    text-decoration: #fff;
    text-shadow: #f8f8f8;
    color: #d1d1d1;
    background-color: #f5f5f5;
    border-color: #d1d1d1;
}

.panel-bland > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d1d1d1;
}

.panel-bland > .panel-heading .badge {
    text-decoration: #fff;
    text-shadow: #f8f8f8;
    color: #e0e1e2;
    background-color: #d1d1d1;
}


.btn-transparent {
    text-align: center;
    background: transparent;
    color: #e0e1e2;
    text-decoration: none;
}

.btn-transparent a {
    color: #e0e1e2;
    text-decoration: none;
 }

.btn-bland {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background: linear-gradient(40deg, #007f9f, #036);
    color: #f8f8f8;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border-radius: .1rem;
}

a.btn-bland{font-size: 18px;}
/** State Styles **/

.btn-bland:focus, .btn-bland.focus {
    color: #fff;
    background: linear-gradient(40deg, #036, #007f9f);
    border-color: #122b40;
}

.btn-bland:hover, .panel-heading:hover {
    text-decoration: #fff;
    color: #fff;
    background: linear-gradient(40deg, #036, #007f9f);
    border-color: #204d74;
}

.btn-transparent a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff !important;
}
/** Theme Styles **/

minimo-white {
    color: #E0E0E0;
}

minim-offwhite {
    color: #d1d1d1
}

minimo-gray {
    color: #a7b8b5
}

minimo-beige {
    color: #cfc5bc;
}

minimo-brown {
    color: #aea085;
}

minimo-darkbrown {
    color: #847767;
}

minimo-orange {
    color: #c88770;
}

minimo-yellow {
    color: #009f00;
}

minimo-green {
    color: #006332;
}

minimo-bluegreen {
    color: #006332;
}

minimo-blue {
    color: #007f9f;
}

minimo-blueindigo {
    color: #036;
}

minimo-indigo {
    color: #134a74;
}

minimo-violet {
    color: #131925;
}

minimo-black {
    color: #010101;
}

/* Responsive: Portrait tablets and up */

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
    .col-footer, .cta-featured {
        display: block;
    }

    footer {
        text-align: center;
        line-height: 0.5rem;
    }

.jumbotron {
    padding: 36px 48px;
    text-align: center;
    margin-top: 12px;
}

    .body-content {
        padding: 0;
    }
}

@media only screen and (max-width: 992px) {
    footer {
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
}